gemm:
  stream_hw_id: whole_array
  stream_main_file: "main_gemm.py"
  trace_size: 1048576
  npu: "npu2"
  m: 32
  k: 32
  n: 32
  nb_rows: 4
  nb_cols: 4
  Ms: [256]
  Ks: [256]
  Ns: [256]
swiglu:  # to be updated later
  stream_hw_id: whole_array
  stream_main_file: "main_swiglu.py"
  trace_size: 1048576
  npu: "npu2"
  m: 32
  k: 32
  n: 32
  nb_rows: 4
  nb_cols: 4
  Ms: [256]
  Ks: [256]
  Ns: [256]  
